In [1]:
import pandas as pd
od=pd.read_csv("2median_odd_exercise.csv")

In [2]:
od

   scores
0      85
1      90
2      75
3      80
4      95
5      92
6      88
7      87
8      91

In [3]:
od.median()

scores    88.0
dtype: float64

In [4]:
od.mean()

scores    87.0
dtype: float64

In [5]:

ev=pd.read_csv("2median_even_exercise.csv")

In [6]:
ev

   Race_minutes
0            85
1            90
2            75
3            80
4            95
5            92
6            88
7            87
8            91
9            79

In [7]:
ev.median()

Race_minutes    87.5
dtype: float64

In [8]:
ev.mean()

Race_minutes    86.2
dtype: float64

In [9]:
exe=pd.read_csv("1experience.csv")
exe

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2

In [10]:
exe.median()

YearsExperience    2.2
dtype: float64

In [11]:
exe.mean()

YearsExperience    2.266667
dtype: float64

In [16]:
sa=pd.read_csv("3Salary_Data.csv")
sa

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [18]:
sa.mean()

YearsExperience        5.313333
Salary             76003.000000
dtype: float64

In [19]:
sa.median()

YearsExperience        4.7
Salary             65237.0
dtype: float64

In [20]:
#4laptops.csv
la=pd.read_csv("4laptops.csv")
la

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,11912523.48
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,7993374.48
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,5112900.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,22563005.40
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,16037611.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Dell,Alienware 17,Gaming,17.3,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,32GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows,10,4.42,24897600.00
973,Toshiba,Tecra A40-C-1DF,Notebook,14.0,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows,10,1.95,10492560.00
974,Asus,Rog Strix,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows,10,2.73,18227710.80
975,HP,Probook 450,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.70GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce 930MX,Windows,10,2.04,8705268.00
976,Lenovo,ThinkPad T460,Notebook,14.0,1366x768,Intel Core i5 6200U 2.3GHz,4GB,508GB Hybrid,Intel HD Graphics 520,Windows,7,1.70,8909784.00

In [21]:
la.head(5)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,11912523.48
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,7993374.48
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,5112900.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,22563005.40
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,16037611.20

In [29]:
la['Screen_size_inches'].median(),la['Price'].median()

(15.6, 8527428.0)

In [35]:
print("MEDIAN OF SCREEN SIZE OF ALL LAPTOPS =\n",la['Screen_size_inches'].median())
print("MEDIAN OF PRICE OF ALL LAPTOPS =\n",la['Price'].median())

MEDIAN OF SCREEN SIZE OF ALL LAPTOPS =
 15.6
MEDIAN OF PRICE OF ALL LAPTOPS =
 8527428.0

In [37]:
mcd=pd.read_csv("6Mcd.csv")

In [38]:
mcd

,Unnamed: 0,Year,McDonalds_Revenue_$Billion,Growth_rate_percent,Q1,Q2,Q3,Q4
0,0,1999,13.3,2.73913,5.43,5.795,6.035,5.609524
1,1,2000,14.2,7.00000,5.43,5.795,6.035,5.609524
2,2,2001,14.9,4.00000,5.43,5.795,6.035,5.609524
3,3,2002,15.4,4.00000,5.43,5.795,6.035,3.000000
4,4,2003,17.1,11.00000,3.80,4.300,4.500,4.600000
5,5,2004,18.6,8.00000,4.40,4.700,4.900,4.500000
6,6,2005,19.1,3.00000,4.80,5.100,5.300,3.900000
7,7,2006,20.9,9.00000,4.90,5.400,5.500,5.100000
8,8,2007,22.8,9.00000,5.30,5.800,5.900,5.800000
9,9,2008,23.5,3.00000,5.60,6.100,6.300,5.600000
10,10,2009,22.7,-3.00000,5.10,5.600,6.000,6.000000
11,11,2010,24.1,6.00000,5.60,5.900,6.300,6.200000
12,12,2011,27.0,12.00000,6.10,6.900,7.200,6.800000
13,13,2012,27.6,2.00000,6.50,6.900,7.200,7.000000
14,14,2013,28.1,2.00000,6.60,7.100,7.300,7.100000
15,15,2014,27.4,-2.00000,6.70,7.200,7.000,6.600000
16,16,2015,25.4,-7.00000,6.00,6.500,6.600,6.300000
17,17,2016,24.6,-3.00000,5.90,6.300,6.400,6.000000
18,18,2017,22.8,-7.00000,5.70,6.000,5.800,5.300000
19,19,2018,21.3,-7.00000,5.10,5.400,5.400,5.400000
20,20,2019,21.4,1.00000,5.00,5.300,5.600,5.400000
21,21,2020,19.2,-10.00000,4.70,3.800,5.400,5.300000
22,22,2021,23.2,21.00000,5.10,5.900,6.200,6.000000
23,23,2022,23.2,0.00000,5.70,5.700,5.900,5.900000

In [41]:
print("MEDIAN OF GROWTH RATE PERCENT =\n",mcd['Growth_rate_percent'].median())

MEDIAN OF GROWTH RATE PERCENT =
 2.8695652173913047