In [2]:
import pandas as pd
test=pd.read_csv("6mcd.csv")
test

,Unnamed: 0,Year,McDonalds_Revenue_$Billion,Growth_rate_percent,Q1,Q2,Q3,Q4
0,0,1999,13.3,2.73913,5.43,5.795,6.035,5.609524
1,1,2000,14.2,7.00000,5.43,5.795,6.035,5.609524
2,2,2001,14.9,4.00000,5.43,5.795,6.035,5.609524
3,3,2002,15.4,4.00000,5.43,5.795,6.035,3.000000
4,4,2003,17.1,11.00000,3.80,4.300,4.500,4.600000
5,5,2004,18.6,8.00000,4.40,4.700,4.900,4.500000
6,6,2005,19.1,3.00000,4.80,5.100,5.300,3.900000
7,7,2006,20.9,9.00000,4.90,5.400,5.500,5.100000
8,8,2007,22.8,9.00000,5.30,5.800,5.900,5.800000
9,9,2008,23.5,3.00000,5.60,6.100,6.300,5.600000
10,10,2009,22.7,-3.00000,5.10,5.600,6.000,6.000000
11,11,2010,24.1,6.00000,5.60,5.900,6.300,6.200000
12,12,2011,27.0,12.00000,6.10,6.900,7.200,6.800000
13,13,2012,27.6,2.00000,6.50,6.900,7.200,7.000000
14,14,2013,28.1,2.00000,6.60,7.100,7.300,7.100000
15,15,2014,27.4,-2.00000,6.70,7.200,7.000,6.600000
16,16,2015,25.4,-7.00000,6.00,6.500,6.600,6.300000
17,17,2016,24.6,-3.00000,5.90,6.300,6.400,6.000000
18,18,2017,22.8,-7.00000,5.70,6.000,5.800,5.300000
19,19,2018,21.3,-7.00000,5.10,5.400,5.400,5.400000
20,20,2019,21.4,1.00000,5.00,5.300,5.600,5.400000
21,21,2020,19.2,-10.00000,4.70,3.800,5.400,5.300000
22,22,2021,23.2,21.00000,5.10,5.900,6.200,6.000000
23,23,2022,23.2,0.00000,5.70,5.700,5.900,5.900000

In [3]:
test.mean()

Unnamed: 0                      11.500000
Year                          2010.500000
McDonalds_Revenue_$Billion      21.575000
Growth_rate_percent              2.739130
Q1                               5.430000
Q2                               5.795000
Q3                               6.035000
Q4                               5.609524
dtype: float64