## Student Name:## FULL NAME [edit]

**Student ID:**  RVUN23BCSXXX [edit]

**Section H**

**Assessment:** Measurement of Central Tendencies

Assessment Instructions:

- Do not delete cells containing #ans.
- Do not remove #ans from the cell before writing the code.
- Do not create extra cells to write the code.
- Write all lines of code in the assigned question placeholder.
- Use the same Dataset {CSV} file name directly as instructed in the assessment.

      1.  Put the Dataset.csv file in the same location/directory as notebook.ipynb file.
      2.  Example: pd.read_csv("dataset_name.csv")

- Use the print() function to display the output or solution of the problem given, Also check the demonstration below.

      1.   Incorrect way: print("The Calculated Mean of the given task is: ", Answer)
      2.   Correct way: print(answer)


- Save the submission file with your ID_FULL NAME [IN BLOCK LETTERS].

**Total Time:** 35 Minutes [ Including 15 min to upload and Download the File ]

**Import** the required library and **read** the assigned Dataset.

In [1]:
#write the code below this line.
import pandas as pd
a= pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/student_data_part_1.csv")
a

   Student_Name  Marks  Grade_Point Letter_Grade  Course_Hours
0   Student_301     51     1.885331            A            20
1   Student_302     93     3.242443            D            45
2   Student_303     43     1.526920            D            18
3   Student_304     13     1.396479            B            18
4   Student_305     31     2.618223            F            36
5   Student_306     24     3.914469            C            17
6   Student_307     24     2.592557            A            32
7   Student_308     68     3.740461            A            43
8   Student_309     57     3.491418            C             6
9   Student_310     17     1.770910            E             8
10  Student_311     54     3.474069            E            48
11  Student_312     23     2.445543            A            26
12  Student_313     35     3.419465            C             3
13  Student_314     59     3.239678            C            17
14  Student_315     31     2.016146            D            41
15  Student_316      9     1.345509            F             8
16  Student_317     56     3.888680            E            44
17  Student_318     70     1.422271            E             8
18  Student_319     12     3.899501            D            15
19  Student_320      6     3.580422            B             9
20  Student_321     83     3.172650            E            45
21  Student_322     69     3.939827            D            20
22  Student_323      1     3.901809            C            15
23  Student_324     11     3.413763            B            48
24  Student_325     96     2.097325            A            43
25  Student_326     30     3.372046            C            25
26  Student_327     21     1.041756            B            31
27  Student_328     52     2.609717            F             9
28  Student_329     62     2.364358            D            36
29  Student_330     61     3.018485            F            40
30  Student_331     27     3.017022            C            17
31  Student_332     51     2.753680            F            40
32  Student_333      7     3.467252            B            26
33  Student_334     21     3.820876            A            24
34  Student_335     48     1.325038            F            28
35  Student_336      0     1.701466            C             4
36  Student_337     49     1.075074            C            40
37  Student_338     33     3.652705            E             5
38  Student_339    100     2.684222            F            25
39  Student_340    100     3.745768            B            32
40  Student_341     58     1.664102            B            47
41  Student_342     36     1.189651            E            17
42  Student_343     54     3.471566            F            44
43  Student_344     89     3.728163            D            23
44  Student_345     93     1.906571            D            29
45  Student_346    100     2.224888            E            31
46  Student_347     71     1.419331            C            20
47  Student_348     84     3.838785            A            37
48  Student_349     91     1.913094            D             0
49  Student_350     62     2.477874            F            46

Question 1:

Calculate the average marks of the students?

In [2]:
#ans1
# write line of code below this line
b = '/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/student_data_part_1.csv'
data = pd.read_csv(b)
avg = data['Marks'].mean()
avg

48.72

Question 2:

Calculate the median for course hours attribute in the given dataset?

In [3]:
#ans2
# write line of code below this line
data = pd.read_csv(b)
med= data['Course_Hours'].median()
med

25.5

Question 3:

What is the most common grade achieved by the students?

In [4]:
#ans3
# write line of code below this line






pp= '/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/student_data_part_1.csv'


data = pd.read_csv(pp)


jj = 'Letter_Grade'


mod = data[jj].mode()[0]

print(f"The most common grade achieved by students is: {mod}")

The most common grade achieved by students is: C

Question 4:

Compare the measure of central tendency and Analyse which is the best measure for the Grade points?

**Note** Final Answer must be the value from the best measure of Central Tendency.

In [5]:
#ans4
# write line of code below this line
#The mean (average), median, and mode are the most widely used metrics to describe central tendency. Every metric has advantages of its own and is applicable in certain situations.

#1. To compute the mean, sum up all the values, then divide the total by the number of values.
#2. The middle number obtained by sorting the data in ascending order is called the median. The median is the average of the two middle values when the number of values is even.
#3. The value that appears the most frequently in the dataset is the mode.


#mean
data = pd.read_csv(b)
med= data['Course_Hours'].mean()
med

26.18

Justify your answer for the question no. 04.


The mean (average), median, and mode are the most widely used metrics to describe central tendency. Every metric has advantages of its own and is applicable in certain situations.

1. To compute the mean, sum up all the values, then divide the total by the number of values.
2. The middle number obtained by sorting the data in ascending order is called the median. The median is the average of the two middle values when the number of values is even.
3. The value that appears the most frequently in the dataset is the mode.





** Write the justification statement below this line **