In [2]:
import pandas as pd
da=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/drive-download-20230921T170244Z-001/1range_exercise.csv")
da

   marks
0     17
1     22
2      9
3     13
4     25
5     20
6     15

In [8]:
da.min(),da.max()

(marks    9
 dtype: int64,
 marks    25
 dtype: int64)

In [ ]:
da.

In [6]:
da.mean()

marks    17.285714
dtype: float64

In [7]:
da.mode()

   marks
0      9
1     13
2     15
3     17
4     20
5     22
6     25

In [11]:
da.max()-da.min()

marks    16
dtype: int64

In [12]:
dp=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/drive-download-20230921T170244Z-001/3Salary_Data.csv")
dp

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
dp.max()-dp.min()

YearsExperience        9.4
Salary             84660.0
dtype: float64

NameError: name 'YearsExperience' is not defined

In [15]:
dpp=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/drive-download-20230921T170244Z-001/4laptops.csv")
dpp

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,11912523.48
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,7993374.48
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,5112900.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,22563005.40
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,16037611.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,Dell,Alienware 17,Gaming,17.3,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,32GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows,10,4.42,24897600.00
973,Toshiba,Tecra A40-C-1DF,Notebook,14.0,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows,10,1.95,10492560.00
974,Asus,Rog Strix,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows,10,2.73,18227710.80
975,HP,Probook 450,Notebook,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.70GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce 930MX,Windows,10,2.04,8705268.00
976,Lenovo,ThinkPad T460,Notebook,14.0,1366x768,Intel Core i5 6200U 2.3GHz,4GB,508GB Hybrid,Intel HD Graphics 520,Windows,7,1.70,8909784.00

In [18]:
dpp['Screen_size_inches'].max()

18.4

In [19]:
dpp['Screen_size_inches'].min()

10.1

In [20]:
dpp['Screen_size_inches'].max()-dpp['Screen_size_inches'].min()

8.299999999999999

In [21]:
a=dpp['Screen_size_inches'].max()-dpp['Screen_size_inches'].min()

In [22]:
a

8.299999999999999

In [24]:
dap=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/7games.csv")
dap

,Unnamed: 0,Title,Release_Date,Team,Rating,Times_Listed,Number_of_Reviews,Genres,Summary,Reviews,Plays,Playing,Baclogs,Wishlist
0,0,Elden Ring,25-Feb-22,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,39000,39000,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,38000,46000,48000
1,1,Hades,10-Dec-19,['Supergiant Games'],4.3,29000,29000,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hac000 and slash dungeon crawler ...,['convinced this is a rogueli000e for people w...,21000,32000,63000,36000
2,2,The Legend of Zelda: Breath of the Wild,3-Mar-17,"['Nintendo', 'Nintendo EPD Production Group No...",4.4,43000,43000,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30000,25000,5000,26000
3,3,Undertale,15-Sep-15,"['tobyfox', '8-4']",4.2,35000,35000,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrac000 is tied for #1 with nier automa...,28000,679,49000,18000
4,4,Hollow 000night,24-Feb-17,['Team Cherry'],4.4,3000,3000,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21000,24000,83000,23000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,1507,Bac000 to the Future: The Game,22-Dec-10,['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Clic000']",Bac000 to the Future: The Game is one of Tellt...,['Very enjoyable game The story adds onto the ...,763,5,223,67
1508,1508,Team Sonic Racing,21-May-19,"['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",Team Sonic Racing combines the best elements o...,"['jogo morto mas bom', 'not my cup of tea', ""C...",15000,49,413,107
1509,1509,Dragon's Dogma,22-May-12,['Capcom'],3.7,210,210,"['Brawler', 'RPG']","Set in a huge open world, Dragon’s Dogma: Dar0...","['Underrated', 'A grandes rasgos, es como un M...",11000,45,487,206
1510,1510,Baldur's Gate 3,6-Oct-20,['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...","An ancient evil has returned to Baldur's Gate,...",['Bu türe bu oyunla girmeye çalışma000 hataydı...,269,79,388,602
1511,1511,The LEGO Movie Videogame,4-Feb-14,"['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",Join Emmet and an unli000ely group of resistan...,"['Legal', 'Pretty Average Lego Game But It Was...",17000,11,239,73

In [27]:
dap['Playing'].max()-dap['Playing'].min()

38000

In [28]:
dap['Plays'].max()-dap['Plays'].min()

99000